//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Nav         1
#define Sym         2
#define Fun         3
#define Game        4
#define Gameplus    5

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        Actualizar {
            bindings = <&kp F5>;
            key-positions = <16 17 18>;
        };

        dobleio {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <27 28>;
        };

        guionb {
            bindings = <&kp UNDER>;
            key-positions = <23 24>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
              &kp Q       &kp W       &kp E         &kp R         &kp T        &kp Y          &kp U        &kp I        &kp O       &kp P
              &hm LGUI A  &hm LALT S  &hm LCTRL D   &hm LSHIFT F  &kp G        &kp H          &hm RSHFT J  &hm RCTRL K  &hm RALT L  &hm RGUI SEMICOLON
&lt 3 ESCAPE  &kp Z       &kp X       &kp C         &kp V         &kp B        &kp N          &kp M        &kp COMMA    &kp DOT     &kp SLASH           &kp APOSTROPHE
                                      &lt 2 TILDE2  &lt 1 TAB     &kp SPACE    &kp BACKSPACE  &kp ENTER    &kp MINUS
            >;
        };

        Nav {
            display-name = "Nav";
            bindings = <
              &kp TILDE       &trans     &kp UP_ARROW  &trans     &kp LBRC    &kp RBRC  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0
              &kp LEFT_SHIFT  &kp LEFT   &kp DOWN      &kp RIGHT  &kp LBKT    &kp RBKT  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp MINUS
&kp LEFT_ALT  &kp LEFT_WIN    &kp MINUS  &trans        &kp PLUS   &kp LPAR    &kp RPAR  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp KP_MULTIPLY  &kp PLUS
                                         &trans        &trans     &trans      &trans    &trans        &kp DOT
            >;
        };

        Sym {
            display-name = "Sym";
            bindings = <
                &kp EXCL      &kp AT  &kp HASH  &kp DOLLAR  &kp PERCENT        &kp CARET  &kp AMPERSAND  &kp KP_ASTERISK  &kp SQT  &kp DQT
                &kp QUESTION  &trans  &trans    &trans      &trans             &trans     &trans         &trans           &trans   &trans
&studio_unlock  &trans        &trans  &trans    &trans      &trans             &kp UNDER  &kp EQUAL      &trans           &trans   &kp SLASH  &kp HOME
                                      &trans    &trans      &kp RIGHT_SHIFT    &trans     &trans         &trans
            >;
        };

        Fun {
            display-name = "Fun";
            bindings = <
        &bootloader  &trans  &trans        &trans  &to 4     &trans  &trans  &trans  &kp END  &kp F1
        &kp F1       &kp F2  &kp F3        &kp F4  &kp F5    &trans  &trans  &trans  &trans   &kp F10
&trans  &trans       &trans  &trans        &trans  &trans    &trans  &trans  &trans  &trans   &kp F20  &kp F7
                             &kp LEFT_ALT  &trans  &trans    &trans  &trans  &trans
            >;
        };

        Photoshop {
            display-name = "Photoshop";
            bindings = <
           &kp T  &kp G  &kp P      &none     &sl 5        &trans  &trans  &trans  &trans  &trans
           &kp A  &kp S  &kp D      &none     &none        &trans  &trans  &trans  &trans  &trans
&kp SPACE  &kp W  &none  &none      &none     &none        &trans  &trans  &trans  &trans  &trans  &to 0
                         &kp LSHFT  &kp LALT  &kp LCTRL    &trans  &trans  &trans
            >;
        };

        Gaming+ {
            display-name = "Gaming+";
            bindings = <
        &kp F10  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp T     &kp RA(RC(Y))  &kp RA(RC(U))  &trans  &trans  &kp LC(RA(DEL))
        &kp L    &kp O         &kp Y         &kp K         &kp G     &kp F5         &trans         &trans  &trans  &trans
&trans  &to 0    &trans        &trans        &trans        &trans    &trans         &trans         &trans  &trans  &trans           &kp LA(F4)
                               &kp J         &kp I         &kp M     &trans         &trans         &trans
            >;
        };

        Test-lay {
            bindings = <
        &kp Q   &kp W   &kp E   &kp R   &kp T     &kp Y   &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;

            label = "Test-lay";
        };
    };
};
